#kitten-spotlight {
  margin-left: 5%;
  background-color: #70a0af;
  box-shadow: 10px 10px 5px #888888;
  * {
    width: 90%;
    margin: 8% 5%;
  }
}

#kitten-list {
  margin-left: 50%;
  margin-top: -7%
}

#selected-kitten {
  display: inline;
}

#kitten-spot {
  margin-left: 13%;
}

#kitten-name {
  margin-left: 5%;
}

* {
  color: #393D40;
}

p {
  font-size: 1.7em;
}

a {
  font-size: 1.5em;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: 'Bubbler One', sans-serif;
  background-color: #F1EDEA;
}

.nav {
  font-size: 2.2em;
  background-color: #636363;
  // color: white !important;

  .tabs {
    float: right;
  }

  * {
    color: #70a0af;
  }

}

.sparkles-title {
  margin-top: 6vh !important;
}

.brand-name:hover {
  background-color: #17BEBB;
  border: 0px transparent;
}

.brand-name:active {
  background-color: #17BEBB;
  border: 0px transparent;
}

.about-img {
  margin-left: 6vw;
  img {
    width: 100%;
    border-radius: 50%;
    border: solid 3px #70A0AF;
  }
}

.about-summary {
  margin-left: 4vw;
}

.summary {
  margin-top: 4vh;
  h3 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 2.5em;
  }
}

.hobby-img {
  img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid #70A0AF;
  }
}

.hobbies {
  margin-top: 8vh;
  text-align: center;
  h2 {
    font-size: 2.5em;
  }
  h4 {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
}

.experience {
  margin-top: 8vh;
  text-align: center;
  h3 {
    font-size: 2.5em;
  }
}

.experience-img {
  img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid #70A0AF;
  }
}

.exprience-summ {
  text-align: left;
}

.experience-list {
  margin-left: 10vw;
  margin-right: 10vw;
}

.experience h4 {
  margin-top: 3vh;
  font-size: 2em;
}
.experience li {
  font-size: 1.7em;
}

.sparkle {
  margin-top: 5vh !important;
}

.download-resume {
  display: inline;
  text-align: center;
  h3 {
      margin-top: 8vh;
      font-size: 2.5em;
  }
  a {
    font-size: 2em !important;
  }
  button:hover {
    background-color: #4c8799 !important;
  }
  button {
    background-color: #70A0AF;
    border-color: #F1EDEA;

    * {
      color: #393d40 !important;
    }
  }

}

.download-btn {
  text-align: center;
  margin-bottom: 5vh;
  // background-color: #70A0AF;
}

.contact {
  text-align: center;
}

.contact * {
  text-align: center;
}
